# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.CodeMonkeyCourse.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\xxlig\Documents\GitHub\CodeMonkeyCourseRepo\CodeMonkeyCourse\.idea\.idea.CodeMonkeyCourse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
